Source: monetdb-geom
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), autotools-dev, libmonetdb-dev, cdbs, monetdb4-server, monetdb5-server, libgeos-dev, monetdb4-server, monetdb5-server, libmonetdb4-server-dev, libmonetdb5-server-dev
Standards-Version: 3.8.0

Package: monetdb-geom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1
Description: database system for high-performance applications, xquery frontend
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the common parts of the GIS (Geographic
 Information System) extensions for MonetDB-SQL.

Package: monetdb-geom-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb-dev, monetdb-geom, libmonetdb5-server-geom0
# libmonetdb4-server-geom0
Description: database system for high-performance applications, xquery frontend
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to develop with monetdb-geom.

#Package: libmonetdb4-server-geom0
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, monetdb4-server
#Description: database system for high-performance applications, xquery frontend
# MonetDB is a database management system that is developed from a
# main-memory perspective with use of a fully decomposed storage model,
# automatic index management, extensibility of data types and search
# accelerators, SQL- and XML- frontends.
# .
# This package contains the GIS (Geographic Information System)
# extensions for MonetDB-SQL-server4.

Package: libmonetdb5-server-geom0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, monetdb5-server
Description: database system for high-performance applications, xquery frontend
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the GIS (Geographic Information System)
 extensions for MonetDB-SQL-server5.
