# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release')
main = addModule('MonetDB')
main.setVersionFormat('@normal')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.addAnchor("configure.ag", "[MonetDB Common], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchors("gdk/libbat.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("MonetDB/NT/MonetDB-Common/MonetDB-Common.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchors("MonetDB/NT/MonetDB-Common/MonetDB-Common64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchors("clients/src/odbc/winsetup/setup.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/src/odbc/driver/driver.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/src/mapilib/Mapi.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/NT/MonetDB-Clients/MonetDB-Clients.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("clients/NT/MonetDB-Clients/MonetDB-Clients64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchor("MonetDB4/NT/MonetDB.iss", "AppVerName=MonetDB %v")
main.addAnchors("MonetDB4/src/monet/libmonet.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("MonetDB4/NT/MonetDB4-Server/MonetDB4-Server.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("MonetDB4/NT/MonetDB4-Server/MonetDB4-Server64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("MonetDB5/NT/MonetDB5-Server/MonetDB5-Server.vdproj",
               	arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:CLIENTSVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("MonetDB5/NT/MonetDB5-Server/MonetDB5-Server64.vdproj",
               	arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:CLIENTSVERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("MonetDB5/src/tools/libmonetdb5.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("sql/NT/MonetDB5-SQL/MonetDB5-SQL-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'))
main.addAnchors("sql/NT/MonetDB5-SQL64/MonetDB5-SQL-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'))
main.addAnchors("sql/NT/MonetDB5-SQL/MonetDB5-SQL.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:CLIENTSVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:MONETDB5VERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("sql/NT/MonetDB5-SQL/MonetDB5-SQL64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:CLIENTSVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:MONETDB5VERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchor("pathfinder/runtime/xrpc/admin/title.html.in", "MonetDB/XQuery %v")
main.addAnchor("pathfinder/runtime/pathfinder.mx", "MonetDB/XQuery module v%v")
main.addAnchors("pathfinder/NT/MonetDB4-XQuery/MonetDB4-XQuery.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:MONETDB4VERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchors("pathfinder/NT/MonetDB4-XQuery/MonetDB4-XQuery64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'),
                arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                          format = "@normal"),
                arguments(pattern = r'"Condition" = "8:MONETDB4VERSION >= \"%v\""',
                          format = "@normal"))
main.addAnchor("template/configure.ag", "[MonetDB template], [%v]")
