# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release')
main = addModule('MonetDB')
main.setVersionFormat('@normal')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.addAnchor("configure.ag", "[MonetDB Common], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchors("gdk/libbat.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/src/odbc/winsetup/setup.rc",
                'VALUE "FileVersion", "%v"',
                'VALUE "ProductVersion", "%v"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/src/odbc/driver/driver.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/src/mapilib/Mapi.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("MonetDB4/src/monet/libmonet.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("MonetDB5/src/tools/libmonetdb5.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchor("pathfinder/runtime/xrpc/admin/title.html.in", "MonetDB/XQuery %v")
main.addAnchor("pathfinder/runtime/pathfinder.mx", "MonetDB/XQuery module v%v")
main.addAnchors("NT/installers32/MonetDB-ODBC-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers64/MonetDB-ODBC-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers32/MonetDB4-XQuery-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers64/MonetDB4-XQuery-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers32/MonetDB5-Geom-Module.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers64/MonetDB5-Geom-Module.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers32/MonetDB5-SQL-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchors("NT/installers64/MonetDB5-SQL-Installer.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"))
main.addAnchor("template/configure.ag", "[MonetDB template], [%v]")
