# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release')
main = addModule('monetdb')
main.setVersionFormat('@normal')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.addAnchor("configure.ag", "[MonetDB], [%v]")
main.addAnchor("MonetDB.spec", "%define version %v")
main.addAnchors("NT/rules.msc",
                "VERSION=%v")
main.addAnchors("NT/monetdb_config.h.in",
                'PACKAGE_VERSION %Q')
main.addAnchors("gdk/libbat.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/odbc/winsetup/setup.rc",
                'VALUE "FileVersion", %Q',
                'VALUE "ProductVersion", %Q',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/odbc/driver/driver.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("clients/mapilib/mapi.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("monetdb5/tools/libmonetdb5.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
