# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('MonetDB')
clients = addModule('clients')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("conf/MonetDB.m4", "MONETDB_REQUIRED_VERSION=%Q")

clients.setVersionFormat('@normal%[rc?%rc%build:]')
clients.addAnchor("conf/MonetDB.m4", "CLIENTS_REQUIRED_VERSION=%Q")

monetdb4.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb4.addAnchor("conf/MonetDB.m4", "MONETDB4_REQUIRED_VERSION=%Q")

monetdb5.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb5.addAnchor("conf/MonetDB.m4", "MONETDB5_REQUIRED_VERSION=%Q")
