# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('geom')
monetdb = addModule('MonetDB')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?_rc%build:]')
main.addAnchor("configure.ag", "\"geom\", %v,")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")

monetdb4.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb4.addAnchor("configure.ag", "req_monetdb4_ver=%q")

monetdb5.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb5.addAnchor("configure.ag", "req_monetdb5_ver=%q")
