# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('geom')
monetdb = addModule('MonetDB')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal')
main.addAnchor("configure.ag", "[MonetDB geometry module], [%v]")
main.addAnchor("NT/rules.msc", "VERSION = %v")
main.addAnchor("MonetDB-geom.spec", "%define version %v")

monetdb.setVersionFormat('@normal')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-geom.spec",
                   arguments(pattern = "\nBuildRequires: MonetDB-devel >= %v",
                             format = "%major.%minor"))

monetdb4.setVersionFormat('@normal')
monetdb4.addAnchor("configure.ag", "req_monetdb4_ver=%q")
monetdb4.addAnchors("MonetDB-geom.spec",
                    arguments(pattern = "\nRequires: MonetDB4-server >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nBuildRequires: MonetDB4-server-devel >= %v",
                              format = "%major.%minor"))

monetdb5.setVersionFormat('@normal')
monetdb5.addAnchor("configure.ag", "req_monetdb5_ver=%q")
monetdb5.addAnchors("MonetDB-geom.spec",
                    arguments(pattern = "\nRequires: MonetDB5-server >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nBuildRequires: MonetDB5-server-devel >= %v",
                              format = "%major.%minor"))
