# Vertoo v0.8 official release config file, see http://vertoo.sourceforge.net/

registry.registerScheme('jdbc_full', '%major.%minor (%suffix)')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

JDBC = ModuleInfo('jdbc', [
  FileInfo("build.properties", [
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_MAJOR=%v", format="%major")),
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_MINOR=%v", format="%minor")),
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_VER_SUFFIX=%v", format="%suffix")),
    ]),
  FileInfo("../../configure.ag", [
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_MAJOR=%v", format="%major")),
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_MINOR=%v", format="%minor")),
    AnchorInfo('simple', 1,
      arguments(pattern="JDBC_VER_SUFFIX=%Q", format="%suffix")),
    ]),
  FileInfo("../../NT/configure.py", [
    AnchorInfo('simple', 1,
      arguments(pattern="'@JDBC_MAJOR@',        %q", format="%major")),
    AnchorInfo('simple', 1,
      arguments(pattern="'@JDBC_MINOR@',        %q", format="%minor")),
    AnchorInfo('simple', 1,
      arguments(pattern="'@JDBC_VER_SUFFIX@',   %q", format="%suffix")),
    ]),
  FileInfo("release.txt", [
    AnchorInfo('simple', 1,
      arguments(pattern="MonetDB JDBC driver version %v", format="@jdbc_full")),
    ]),
  ])

modules = [JDBC]
