#include <Windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
  FILEVERSION 11,24,0,1
  PRODUCTVERSION 11,24,0,1
  FILEFLAGSMASK 0x3fL
  FILEFLAGS 0
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"	// US-English; Unicode
    BEGIN
      VALUE "Comments", "\0"
      VALUE "CompanyName", "MonetDB B.V.\0"
      VALUE "FileDescription", "MonetDB Application Interface DLL\0"
      VALUE "FileVersion", "11.24.0\0"
      //                    ^^^^^^^^
      // Maintained via vertoo. Please don't modify by hand!
      // Contact MonetDB-developers@lists.sourceforge.net for details and/or assistance.
      VALUE "InternalName", "Mapi\0"
      VALUE "LegalCopyright", "Copyright © MonetDB B.V. 2008-2015\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename", "Mapi.dll\0"
      VALUE "PrivateBuild", "\0"
      VALUE "ProductName", "MonetDB Client Libraries\0"
      VALUE "ProductVersion", "11.24.0\0"
      //                       ^^^^^^^^
      // Maintained via vertoo. Please don't modify by hand!
      // Contact MonetDB-developers@lists.sourceforge.net for details and/or assistance.
      VALUE "SpecialBuild", "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200	// US-English; Unicode
  END
END
