#include <Windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define version(major,minor,patch)	major,minor,patch,1
#define sversion(major,minor,patch)	#major "." #minor "." #patch "\0"

1 VERSIONINFO
  FILEVERSION version(11,50,0)
  PRODUCTVERSION version(11,50,0)
  FILEFLAGSMASK 0x3fL
  FILEFLAGS 0
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"	// US-English; Unicode
    BEGIN
      VALUE "Comments", "\0"
      VALUE "CompanyName", "MonetDB Foundation\0"
      VALUE "FileDescription", "MonetDB Application Interface DLL\0"
      VALUE "FileVersion", sversion(11,50,0)
      VALUE "InternalName", "Mapi\0"
      VALUE "LegalCopyright", "Copyright (c) 2024 MonetDB Foundation\0"
      VALUE "LegalTrademarks", "\0"
      VALUE "OriginalFilename", "Mapi.dll\0"
      VALUE "PrivateBuild", "\0"
      VALUE "ProductName", "MonetDB Client Libraries\0"
      VALUE "ProductVersion", sversion(11,50,0)
      VALUE "SpecialBuild", "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200	// US-English; Unicode
  END
END
