# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release')

main = addModule('clients')
monetdb = addModule('MonetDB')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal')
main.addAnchor("configure.ag", "[MonetDB clients], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchors("src/odbc/winsetup/setup.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("src/odbc/driver/driver.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("src/mapilib/Mapi.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("NT/MonetDB-Clients/MonetDB-Clients.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchors("NT/MonetDB-Clients/MonetDB-Clients64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchor("debian/changelog", "monetdb-client (%v-1)")

monetdb.setVersionFormat('@normal')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-client.spec.in",
                   arguments(pattern = "\nRequires: MonetDB >= %v",
                              format = "%major.%minor"),
                   arguments(pattern = "\nBuildRequires: MonetDB-devel >= %v",
                              format = "%major.%minor"),
                   arguments(pattern = "\nRequires: MonetDB-devel >= %v",
                              format = "%major.%minor"))
monetdb.addAnchors("NT/MonetDB-Clients/MonetDB-Clients.vdproj",
                   arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                             format = "@normal"))
monetdb.addAnchors("NT/MonetDB-Clients/MonetDB-Clients64.vdproj",
                   arguments(pattern = r'"Condition" = "8:COMMONVERSION >= \"%v\""',
                             format = "@normal"))
