# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release,%build')

main = addModule('clients')
monetdb = addModule('MonetDB')
sql = addModule('sql')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("configure.ag", "[MonetDB clients], [%v]")
main.addAnchor("NT/clients_config.h.in", "#define VERSION %Q")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")

sql.setVersionFormat('@normal%[rc?%rc%build:]')
sql.addAnchor("src/odbc/winsetup/MonetDB-ODBC-Installer/MonetDB-ODBC-Installer.vdproj",
              arguments(pattern = '"ProductVersion" = "8:%v"', format = '@normal'))
sql.addAnchors("src/odbc/winsetup/setup.rc",
               'VALUE "FileVersion", "%v\\0"',
               'VALUE "ProductVersion", "%v\\0"',
               arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
               arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
sql.addAnchors("src/odbc/driver/driver.rc",
               'VALUE "FileVersion", "%v\\0"',
               'VALUE "ProductVersion", "%v\\0"',
               arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
               arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
