# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('testing')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal')
main.addAnchor("configure.ag", "[MonetDB Testing], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchor("MonetDB-testing.spec", "%define version %v")
