# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('testing')
monetdb = addModule('MonetDB')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal')
main.addAnchor("configure.ag", "[MonetDB Testing], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchor("debian/changelog", "monetdb-testing (%v-1)")
main.addAnchor("MonetDB-testing.spec", "%define version %v")

monetdb.setVersionFormat('@normal')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-testing.spec",
                   arguments(pattern = "\nRequires: MonetDB >= %v",
                              format = "%major.%minor"),
                   arguments(pattern = "\nBuildRequires: MonetDB-devel >= %v",
                              format = "%major.%minor"))
