Source: monetdb-client
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), autotools-dev, libmonetdb-dev, libreadline5-dev, ruby1.8-dev, ruby, python-dev, cdbs

Package: monetdb-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline5, libmonetdb-client1
Description: MonetDB database client
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains mclient, the main client program to communicate
 with the database server, and msqldump, a program to dump the SQL
 database so that it can be loaded back later.

Package: libmonetdb-client1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1
Description: MonetDB database client libraries
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the MonetDB client libraries.

Package: libmonetdb-client-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb-dev, libreadline5-dev, libmonetdb-client1
Description: MonetDB client header files
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to develop with
 MonetDB-client.

Package: python-monetdb-client
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends} ${python:Depends}, libmonetdb1, libmonetdb-client1, python-monetdb
Provides: ${python:Provides} 
Description: MonetDB client python modules
 MonetDB is a database management system that is developed from a 
 main-memory perspective with use of a fully decomposed storage model, 
 automatic index management, extensibility of data types and search 
 accelerators, SQL- and XML- frontends. 
 .
 This package contains Python support files.

Package: libmonetdb-client-odbc1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1, libreadline5, libmonetdb-client1
Description: MonetDB ODBC driver
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the ODBC driver.

Package: libmonetdb-client-odbc-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb-dev, libreadline5-dev, libmonetdb-client-dev, libmonetdb-client-odbc1
Description: MonetDB ODBC driver (header files)
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the ODBC driver headers.

Package: php5-monetdb-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php5-common
Description: MonetDB php5 client module
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the PHP module for MonetDB.

Package: libmonetdb-client-perl
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}
Provides: ${perl:Profides}
Description: MonetDB perl client code
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to use MonetDB from a Perl
 program.

Package: libmonetdb-client-ruby
Architecture: any
Depends: ${shlibs:Depends}, ruby1.8
Description: MonetDB ruby client module
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to use MonetDB from a Ruby
 program.

Package: monetdb-client-testing
Architecture: any
Depends: ${shlibs:Depends}, libmonetdb-client1, libmonetdb-client-odbc1
Description: MonetDB client testing tools
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the sample MAPI programs used for testing other
 MonetDB packages.  You probably don't need this, unless you are a
 developer.

