Source: python-monetdb
Section: python
Priority: optional
Maintainer: Gijs Molenaar <gijs.molenaar@cwi.nl>
Build-Depends: cdbs, debhelper (>= 7), python-central
XS-Python-Version: 2.5, 2.6
Standards-Version: 3.8.0
Homepage: http://www.monetdb.nl

Package: python-monetdb
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Python client API for MonetDB
 bla bla bla

