Source: monetdb4-server
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, libmonetdb-dev, libmonetdb-client-dev
Standards-Version: 3.8.0

Package: monetdb4-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1, libmonetdb4-server4, libmonetdb-client1, adduser
Description: MonetDB database server version 4
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the MonetDB4 server component.  You need this
 package if you want to work using the MIL language, or if you want to
 use the XQuery frontend (in which case you need monetdb4-xquery as
 well).

Package: libmonetdb4-server4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1
Description: MonetDB database server version 4 library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the shared libraries used by the MonetDB4
 server component.

Package: libmonetdb4-server-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1, libmonetdb4-server4, libmonetdb-client-dev
Description: MonetDB database server version 4 headers
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to develop with MonetDB4.

