# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('java')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("configure.ag", "[MonetDB Java], [%v]")
