Source: monetdb
Section: misc
Priority: extra
Maintainer: MonetDB BV <info@monetdb.org>
Homepage: http://www.monetdb.org/
Vcs-Browser: http://dev.monetdb.org/hg/MonetDB/
Vcs-Hg: http://dev.monetdb.org/hg/MonetDB/
Build-Depends: debhelper (>= 5), autotools-dev, bison, libatomic-ops-dev,
 libbam-dev, libbz2-dev, libcurl4-gnutls-dev, libgeos-dev (>= 3.4.0),
 libgsl0-dev, libpcre3-dev, libreadline-dev, liblzma-dev,
 libssl-dev, libxml2-dev, pkg-config, python, python-numpy,
 unixodbc-dev, uuid-dev, zlib1g-dev, liblas-c-dev (>= 1.8.0), r-base
Standards-Version: 3.8.0
X-Python-Version: >= 2.6

Package: libmonetdb13
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libmonetdb5-server-geom (< ${source:Version})
Description: MonetDB core library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the core components of MonetDB in the form of a
 single shared library.  If you want to use MonetDB, you will certainly
 need this package, but you will also need at least the monetdb5-server
 package, and most likely also monetdb5-sql, as well as one or
 more client packages.

Package: libmonetdb-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libatomic-ops-dev,
 libmonetdb13, libmonetdb-stream-dev
Description: MonetDB development files
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains files needed to develop extensions to the core
 functionality of MonetDB.

Package: libmonetdb-stream8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MonetDB stream library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains a shared library (libstream) which is needed by
 various other components.

Package: libmonetdb-stream-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libmonetdb-stream8 (= ${source:Version})
Description: MonetDB stream library development files
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the files to develop with the
 libmonetdb-stream8 library.

Package: libmonetdb-client8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MonetDB client/server interface library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains a shared library (libmapi) which is needed by
 various other components.

Package: libmonetdb-client-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libmonetdb-client8 (= ${source:Version})
Description: MonetDB client/server interface library development files
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the files to develop with the libmonetdb-client8
 library.

Package: monetdb-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: monetdb5-sql (= ${source:Version})
Description: MonetDB database client
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains mclient, the main client program to communicate
 with the MonetDB database server, and msqldump, a program to dump the
 SQL database so that it can be loaded back later.  If you want to use
 MonetDB, you will very likely need this package.

Package: monetdb-client-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb-client (= ${source:Version})
Description: MonetDB database client
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains stethoscope, tomograph, and tachograph.  These
 tools can be used to monitor the MonetDB database server.

Package: libmonetdb-client-odbc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MonetDB ODBC driver
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the MonetDB ODBC driver.

Package: monetdb-client-testing
Architecture: any
Depends: ${shlibs:Depends}, libmonetdb-client-odbc (= ${source:Version}),
 monetdb5-server (= ${source:Version}),
 libdbd-monetdb-perl (>= 1.0),
 php-monetdb (>= 1.0),
 python-monetdb (>= 1.0),
 monetdb5-sql (= ${source:Version})
Description: MonetDB client testing tools
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the sample MAPI programs used for testing other
 MonetDB packages.  You probably don't need this, unless you are a
 developer.

Package: libmonetdb5-server-geom
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: MonetDB5 SQL GIS support module
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the GIS (Geographic Information System)
 extensions for MonetDB-SQL-server5.

Package: libmonetdb5-server-lidar
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: MonetDB5 SQL GIS support module
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains support for reading and writing LiDAR data.

Package: libmonetdb5-server-gsl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: MonetDB5 SQL interface to the gsl library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the interface to the GNU Scientific Library for
 numerical analysis (gsl).

Package: libmonetdb5-server-bam
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: MonetDB5 SQL interface to the bam library
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the interface to load and query BAM (binary
 version of Sequence Alignment/Map) data.

Package: monetdb5-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: monetdb5-server-hugeint (= ${source:Version}) [amd64],
 monetdb5-sql (= ${source:Version})
Suggests: monetdb-client (= ${source:Version})
Description: MonetDB database server version 5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the MonetDB server component.  You need this
 package if you want to use the MonetDB database system.  If you want
 to use the SQL frontend, you also need monetdb5-sql.

Package: monetdb5-server-hugeint
Architecture: amd64
Depends: monetdb5-server (= ${source:Version})
Description: MonetDB - 128-bit integer support for MonetDB5-server
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package provides HUGEINT (128-bit integer) support for the
 MonetDB5-server component.

Package: monetdb5-server-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-server (= ${source:Version}), libmonetdb-dev (= ${source:Version})
Description: MonetDB database server version 5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains files needed to develop extensions that can be
 used from the MAL level.

Package: monetdb5-sql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-server (= ${source:Version})
Recommends: monetdb5-sql-hugeint (= ${source:Version}) [amd64]
Suggests: monetdb-client (= ${source:Version})
Description: MonetDB SQL support for monetdb5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the SQL frontend for MonetDB.

Package: monetdb5-sql-hugeint
Architecture: amd64
Depends: monetdb5-sql (= ${source:Version}),
 monetdb5-server-hugeint (= ${source:Version})
Description: MonetDB5 128 bit integer (hugeint) support for SQL
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package provides HUGEINT (128-bit integer) support for the SQL
 frontend of MonetDB.

Package: monetdb-python2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: Integration of MonetDB and Python, allowing use of Python from within SQL
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the interface to use the Python language from
 within SQL queries.  This package is for Python 2.
 .
 NOTE: INSTALLING THIS PACKAGE OPENS UP SECURITY ISSUES.  If you don't
 know how this package affects the security of your system, do not
 install it.

Package: monetdb-r
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 monetdb5-sql (= ${source:Version})
Description: Integration of MonetDB and R, allowing use of R from within SQL
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the interface to use the R language from within
 SQL queries.
 .
 NOTE: INSTALLING THIS PACKAGE OPENS UP SECURITY ISSUES.  If you don't
 know how this package affects the security of your system, do not
 install it.

Package: monetdb-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MonetDB testing programs
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the programs and files needed for testing the
 MonetDB packages.  You probably don't need this, unless you are a
 developer.  If you do want to test, install monetdb-testing-python.

Package: monetdb-testing-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python,
 monetdb-testing (= ${source:Version}),
 monetdb-client-testing (= ${source:Version})
Description: MonetDB testing Python programs
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the Python programs and files needed for
 testing the MonetDB packages.  You probably don't need this, unless
 you are a developer, but if you do want to test, this is the package
 you need.

Package: monetdb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for monetdb packages
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains the debugging symbols for all monetdb binary
 packages.
