#!/usr/bin/make -f

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0.  If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# Copyright 1997 - July 2008 CWI, August 2008 - 2016 MonetDB B.V.

DH_VERBOSE=1

%:
	dh $@ --parallel --with python2,python3

override_dh_auto_configure:
	dh_auto_configure -- \
	--enable-assert=no \
	--enable-console=yes \
	--enable-debug=no \
	--enable-developer=no \
	--enable-fits=no \
	--enable-gdk=yes \
	--enable-geom=yes \
	--enable-gsl=yes \
	--enable-instrument=no \
	--enable-jdbc=no \
	--enable-lidar=yes \
	--enable-merocontrol=no \
	--enable-microhttpd=no \
	--enable-monetdb5=yes \
	--enable-odbc=yes \
	--enable-oid32=no \
	--enable-optimize=yes \
	--enable-profile=no \
	--enable-rintegration=yes \
	--enable-sql=yes \
	--enable-strict=no \
	--enable-testing=yes \
	--with-ant=no \
	--with-bz2=yes \
	--with-geos=yes \
	--with-java=no \
	--with-liblas=yes \
	--with-perl=yes \
	--with-perl-libdir=lib/perl5 \
	--with-pthread=yes \
	--with-python2=yes \
	--with-python3=yes \
	--with-readline=yes \
	--with-samtools=yes \
	--with-sphinxclient=no \
	--with-unixodbc=yes \
	--with-valgrind=no \
	X_CFLAGS=-g

# currently the test suite fails
override_dh_auto_test:

override_dh_clean:
	dh_clean
	cd clients/python2 && python setup.py clean
	cd clients/python3 && python3 setup.py clean

override_dh_python2:
	dh_python2 clients/python2

override_dh_python3:
	dh_python3 clients/python3

override_dh_strip:
	dh_strip --dbg-package=monetdb-dbg
