include monetdb/exceptions.py
include monetdb/sql/pythonize.py
include monetdb/sql/connections.py
include monetdb/sql/converters.py
include monetdb/sql/types.py
include monetdb/sql/monetize.py
include monetdb/sql/cursors.py
include monetdb/sql/__init__.py
include monetdb/mapi.py
include monetdb/__init__.py
include README.rst
include setup.py

