# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
addScheme('winrc', '%major,%minor,%release')

main = addModule('MonetDB')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal')
main.addAnchor("configure.ag", "[MonetDB Common], [%v]")
main.addAnchor("NT/rules.msc", "VERSION=%v")
main.addAnchors("src/gdk/libbat.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("NT/MonetDB-Common/MonetDB-Common.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchors("NT/MonetDB-Common/MonetDB-Common64.vdproj",
                arguments(pattern = '"ProductVersion" = "8:%v"',
                          format = "@normal"),
                arguments(pattern = '"Value" = "8:%v"',
                          format = '@normal'))
main.addAnchor("MonetDB.spec", "%define version %v")
