main = addModule('MonetDB')
main.setVersionFormat('%major.%minor.%release')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes
main.addAnchor("NT/MonetDB-Installer/MonetDB-Installer.vdproj",
               "\"ProductVersion\" = \"8:%v\"")
main.addAnchor("NT/winconfig.h", "#define VERSION %Q")
main.addAnchor("NT/configure.py", "'@VERSION@',                r%q")
main.addAnchor("configure.ag", "\"MonetDB\", %v")
main.addAnchor("VERSION", "%v")
