Source: monetdb-sql
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), autotools-dev, cdbs, libmonetdb-dev, libmonetdb-client-dev, libmonetdb5-server-dev, uuid-dev
Standards-Version: 3.8.0

Package: monetdb5-sql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, monetdb5-server, libmonetdb5-sql2
Description: MonetDB SQL support for monetdb5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains some common files for the MonetDB5-SQL packages.

Package: libmonetdb5-sql2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb5-server5
Description: MonetDB SQL libraries for monetdb5-server
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the SQL frontend for MonetDB5.

Package: libmonetdb5-sql-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb5-sql2, libmonetdb5-server-dev
Description: MonetDB SQL header files for monetdb5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to develop with monetdb5-sql.
