# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('monet5')
monetdb = addModule('MonetDB')

main.setVersionFormat('@normal%[rc?_rc%build:]')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes
main.addAnchor("configure.ag", "\"MonetDB5\", %v,")

monetdb.setVersionFormat('%major.%minor.%release')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
