Source: monetdb5-server
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), autotools-dev, libpcre3-dev, libssl-dev, libraptor1-dev, libxml2-dev, libmonetdb-dev, libmonetdb-client-dev, cdbs
Standards-Version: 3.8.0

Package: monetdb5-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb5-server5, adduser
Description: MonetDB database server version 5
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the MonetDB5 server component.  You need this
 package if you want to work using the MAL language, or if you want to
 use the SQL frontend (in which case you need libmonetdb5-sql2 as
 well).

Package: libmonetdb5-server5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb1, libmonetdb-client1
Description: MonetDB database server version 5, libraries
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the shared libraries used by the MonetDB5
 server component.

Package: libmonetdb5-server-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmonetdb-dev, libmonetdb-client-dev, libmonetdb5-server5
Description: MonetDB database server version 5, development libraries
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the files needed to develop with MonetDB5.
