Source: monetdb-testing
Section: misc
Priority: extra
Maintainer: MonetDB BV <monet@cwi.nl>
Build-Depends: debhelper (>= 5), autotools-dev, python, cdbs, libmonetdb-dev
Standards-Version: 3.8.0

Package: monetdb-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, libmonetdb1, libmonetdb-dev
Description: database system for high-performance applications, libraries
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators, SQL- and XML- frontends.
 .
 This package contains the programs and files needed for testing the
 MonetDB packages.  You probably don't need this, unless you are a
 developer.
