# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('MonetDB4')
main.setVersionFormat('@normal%[rc?_rc%build:]')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes
main.addAnchors("NT/MonetDB-Installer/MonetDB-Installer.vdproj",
               	arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'))
main.addAnchor("NT/MonetDB.iss", "AppVerName=MonetDB %v")
main.addAnchor("NT/configure.py", "'@VERSION@',                r%q")
main.addAnchor("NT/monetdb4_config.h.in", "#define VERSION %Q")
main.addAnchor("configure.ag", "\"MonetDB4\", %v")
main.addAnchor("VERSION", "%v")
