# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('MonetDB4')
monetdb = addModule('MonetDB')
clients = addModule('clients')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("VERSION", "%v")
main.addAnchor("configure.ag", "[MonetDB Server], [%v]")
main.addAnchor("NT/monetdb4_config.h.in", "#define VERSION %Q")
main.addAnchors("NT/MonetDB-Installer/MonetDB-Installer.vdproj",
               	arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'))
main.addAnchor("NT/MonetDB.iss", "AppVerName=MonetDB %v")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")

clients.setVersionFormat('@normal%[rc?%rc%build:]')
clients.addAnchor("configure.ag", "req_clients_ver=%q")
