<?
/**
 * config.php - sets global options for the DBTapestry behaviour
 * Monica Manzano Hidalgo
 * Fabian Groffen
 *
 * This file is by default distributed as config.php.sample, you should
 * copy it to config.php and set the variables to correct values.
 */

// deal with hacking attempts
if (!defined('LEGAL_CALL'))
	die("Nothing to see here, move along!");

// Set the database you can to use in the define here.  Please note that
// the db_conf array for whatever you enter here should be set!
define('DATABASE', 'mysql');

// If persistent connections are supported, we will use them
define('PERSISTENT', TRUE);


// mysql database
$db_conf['mysql']['host'] = 'localhost';
$db_conf['mysql']['port'] = '3306';	// note, if UNIX socket, then put here
$db_conf['mysql']['dbname'] = 'tapestry';
$db_conf['mysql']['user'] = 'tapestry';
$db_conf['mysql']['pass'] = 'tapestry';

// postgresql database, don't use UNIX sockets with pgsql
$db_conf['pgsql']['host'] = 'localhost';
$db_conf['pgsql']['port'] = '5432';
$db_conf['pgsql']['dbname'] = 'tapestry';
$db_conf['pgsql']['user'] = 'tapestry';
$db_conf['pgsql']['pass'] = 'tapestry';

// monetdb4 database
$db_conf['monetdb4']['host'] = 'localhost';
$db_conf['monetdb4']['port'] = '50000';
$db_conf['monetdb4']['dbname'] = 'tapestry';
$db_conf['monetdb4']['user'] = 'tapestry';
$db_conf['monetdb4']['pass'] = 'tapestry';

// monetdb5 database
$db_conf['monetdb5']['host'] = 'localhost';
$db_conf['monetdb5']['port'] = '50001';
$db_conf['monetdb5']['dbname'] = 'tapestry';
$db_conf['monetdb5']['user'] = 'tapestry';
$db_conf['monetdb5']['pass'] = 'tapestry';
?>
