addScheme('winrc', '%major,%minor,%release')

main = addModule('sql')
monetdb = addModule('MonetDB')

main.setVersionFormat('%major.%minor.%release')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes
main.addAnchor("src/odbc/winsetup/MonetDB-ODBC-Installer/MonetDB-ODBC-Installer.vdproj",
               '"ProductVersion" = "8:%v"')
main.addAnchors("src/odbc/winsetup/setup.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchors("src/odbc/driver/driver.rc",
                'VALUE "FileVersion", "%v\\0"',
                'VALUE "ProductVersion", "%v\\0"',
                arguments(pattern = 'FILEVERSION %v', format = '@winrc'),
                arguments(pattern = 'PRODUCTVERSION %v', format = '@winrc'))
main.addAnchor("NT/configure.py", "'@VERSION@',           %Q")
main.addAnchor("configure.ag", '"sql", %v,')
main.addAnchor("VERSION", "%v")

monetdb.setVersionFormat('%major.%minor.%release')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchor("MonetDB-SQL.pc.in", "Requires: MonetDB >= %v")
