# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
#addScheme('jdbc_full', '%major.%minor (%suffix)')

main = addModule('sql')
monetdb = addModule('MonetDB')
clients = addModule('clients')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')
#jdbc = addModule('jdbc')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("VERSION", "%v")
main.addAnchor("configure.ag", "[MonetDB SQL Server], [%v]")
main.addAnchor("NT/rules.msc", "VERSION = %v")
main.addAnchors("NT/MonetDB4-SQL/MonetDB4-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'),
                arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'),
main.addAnchors("NT/MonetDB5-SQL/MonetDB5-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'),
                arguments(pattern = "\"ProductVersion\" = \"8:%v\"",
                          format = '@normal'))
main.addAnchor("src/backends/monet4/sql_server.mx", "MonetDB/SQL module v%v")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-SQL.spec.in",
                   arguments(pattern = "^BuildRequires: MonetDB-devel >= %v",
                             format = "%major.%minor"))

clients.setVersionFormat('@normal%[rc?%rc%build:]')
clients.addAnchor("configure.ag", "req_clients_ver=%q")
clients.addAnchors("MonetDB-SQL.spec.in",
                   arguments(pattern = "^BuildRequires: MonetDB-client-devel >= %v",
                             format = "%major.%minor"))

monetdb4.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb4.addAnchor("configure.ag", "req_monetdb4_ver=%q")
monetdb4.addAnchor("MonetDB-SQL.pc.in", "^Requires: MonetDB = %v")
monetdb4.addAnchors("MonetDB-SQL.spec.in",
                    arguments(pattern = "^Requires: MonetDB4-server = %v",
                              format = "%major.%minor"),
                    arguments(pattern = "^BuildRequires: MonetDB4-server-devel >= %v",
                              format = "%major.%minor"))

monetdb5.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb5.addAnchor("configure.ag", "req_monetdb5_ver=%q")
monetdb5.addAnchors("MonetDB-SQL.spec.in",
                    arguments(pattern = "^Requires: MonetDB5-server = %v",
                              format = "%major.%minor"),
                    arguments(pattern = "^BuildRequires: MonetDB5-server-devel >= %v",
                              format = "%major.%minor"))
