# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')
#addScheme('jdbc_full', '%major.%minor (%suffix)')

main = addModule('sql')
monetdb = addModule('MonetDB')
java = addModule('java')
clients = addModule('clients')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')
#jdbc = addModule('jdbc')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("VERSION", "%v")
main.addAnchor("configure.ag", "[MonetDB SQL Server], [%v]")
main.addAnchor("NT/rules.msc", "VERSION = %v")
main.addAnchors("NT/MonetDB4-SQL/MonetDB4-SQL-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'))
main.addAnchors("NT/MonetDB5-SQL/MonetDB5-SQL-Installer.vdproj",
                arguments(pattern = "MonetDB-SQL-%v",
                          format = '@normal'))
main.addAnchor("src/backends/monet4/sql_server.mx", "MonetDB/SQL module v%v")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-SQL.spec.in",
                   arguments(pattern = "\nBuildRequires: MonetDB-devel >= %v",
                             format = "%major.%minor"))

java.setVersionFormat('@normal%[rc?%rc%build:]')
java.addAnchor("configure.ag", "req_monetdb_java_ver=%q")

clients.setVersionFormat('@normal%[rc?%rc%build:]')
clients.addAnchor("configure.ag", "req_clients_ver=%q")
clients.addAnchors("MonetDB-SQL.spec.in",
                   arguments(pattern = "\nBuildRequires: MonetDB-client-devel >= %v",
                             format = "%major.%minor"))

monetdb4.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb4.addAnchor("configure.ag", "req_monetdb4_ver=%q")
monetdb4.addAnchor("MonetDB-SQL.pc.in", "\nRequires: MonetDB >= %v")
monetdb4.addAnchors("MonetDB-SQL.spec.in",
                    arguments(pattern = "\nRequires: MonetDB4-server >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nBuildRequires: MonetDB4-server-devel >= %v",
                              format = "%major.%minor"))

monetdb5.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb5.addAnchor("configure.ag", "req_monetdb5_ver=%q")
monetdb5.addAnchors("MonetDB-SQL.spec.in",
                    arguments(pattern = "\nRequires: MonetDB5-server >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nBuildRequires: MonetDB5-server-devel >= %v",
                              format = "%major.%minor"))
