# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('pathfinder')
monetdb = addModule('MonetDB')

main.setVersionFormat('@normal%[rc?_rc%build:]')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes
main.addAnchor("NT/configure.py", "'@VERSION@',           %Q")
main.addAnchor("configure.ag", "\"pathfinder\", %v,")
main.addAnchor("VERSION", "%v")

monetdb.setVersionFormat('%major.%minor.%release')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
#monetdb.addAnchor("MonetDB-XQuery.pc.in", "Requires: MonetDB >= %v")
