# -*- mode: python -*-
addScheme('normal', '%major.%minor.%release')

main = addModule('pathfinder')
monetdb = addModule('MonetDB')
java = addModule('java')
clients = addModule('clients')
monetdb4 = addModule('MonetDB4')
monetdb5 = addModule('MonetDB5')

# %v - unadorned version number
# %q - version number surrounded by single quotes
# %Q - version number surrounded by double quotes

main.setVersionFormat('@normal%[rc?%rc%build:]')
main.addAnchor("VERSION", "%v")
main.addAnchor("configure.ag", "\"pathfinder\", %v")
main.addAnchor("NT/rules.msc", "VERSION = %v")
main.addAnchor("runtime/xrpc/admin/title.html.in", "MonetDB/XQuery %v")
main.addAnchor("runtime/pathfinder.mx", "MonetDB/XQuery module v%v")

monetdb.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb.addAnchor("configure.ag", "req_monetdb_ver=%q")
monetdb.addAnchors("MonetDB-XQuery.spec.in",
                   arguments(pattern = "\nBuildRequires: MonetDB-devel >= %v",
                             format = "%major.%minor"),
                   arguments(pattern = "\nRequires: MonetDB-devel >= %v",
                             format = "%major.%minor"))

java.setVersionFormat('@normal%[rc?%rc%build:]')
java.addAnchor("configure.ag", "req_monetdb_java_ver=%q")

clients.setVersionFormat('@normal%[rc?%rc%build:]')
clients.addAnchor("configure.ag", "req_clients_ver=%q")

monetdb4.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb4.addAnchor("configure.ag", "req_monetdb4_ver=%q")
monetdb4.addAnchor("INSTALL", "It depends on a version that is at least %v.")
monetdb4.addAnchors("MonetDB-XQuery.spec.in",
                    arguments(pattern = "\nRequires: MonetDB4-server >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nBuildRequires: MonetDB4-server-devel >= %v",
                              format = "%major.%minor"),
                    arguments(pattern = "\nRequires: MonetDB4-server-devel >= %v",
                              format = "%major.%minor"))

monetdb5.setVersionFormat('@normal%[rc?%rc%build:]')
monetdb5.addAnchor("configure.ag", "req_monetdb5_ver=%q")
